/*-------Everything in here deals with the fixed bg image and scrolling text overlay----- */
body {
	background-image: url("../img/backgroundPhotoLarge.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	/* This is the color that will display while the background picture is loading*/
	background-color: #565454;
}


/* This switches to smaller picture to save time if the screen width is below 600px*/
@media only screen and (max-width: 1000px) {
	body {
		background-image: url("../img/backgroundPhotoSmall.jpg");
	}
}

/* All the divs start out hidden except for homepage */
#contactPage {
	display: none;
}
#emailSuccessDiv {
	display: none;
}
#resumePage{
	display: none;
}
#portfolioPage{	
	display: none;
}

/* -----------------------------Largest Screen Size-----------------------*/

html, body, .container {
	
	/* it doesn't cover the whole picture without these */
	
	height: 100%;
	width: 100%;
	
	/* If I don't set margin to zero, the 'container' stops just short of covering
	the entire background picture, and there is lightercolored rectangle around it */
	margin: 0px;
	margin: 0px;
}

html, body, h1, p, a, div, section {
	
	font: inherit;
	font-weight: bold;
	color: #ffffff;
}

body {
	font: 18px/23px "Cantarell", sans-serif;
}

h1 {
	
	/*If I don't set the top of h1 to zero, it pulls the container down somehow */
	margin-top: 0;
	padding-top: 0;
	font-size: 40px;
	
	/* h1 line-height is necesary because my name which is an h1 stacks when the screen gets really small */
	line-height: 40px;
}

p {
	margin: auto auto 15px auto;
}

a {

/* Without this it underlines links, making jquery vs href-link buttons look different */
	text-decoration: none;
	
}

/* Setting an outerdiv display value to "table" and the inner div display value to "table-cell"
is by far the easiest quickest way to get the inner div to center in the outer-div, 
in this case .container and .content
*/

.container {
	
	display: table;
	
	/*Somehow it knows to flip back without this */
	background-color: rgba(0, 0, 0, 0);

}

.content {
	
	display: table-cell;
	margin-top: 100px;
	margin-right: 40px;
	vertical-align: middle;
	text-align: center;
	float: right;
}

.mainButton {	
	
	margin-top: 5px;
	display: inline-block;
	font-size: 16px;
	padding: 6px 10px;
	color: #ffffff;
	border: 4px solid #ffffff;
	border-radius: 15px;
	font-weight: 700;
	width: 120px;
	
}

.audioButton {
	
	display: inline-block;
	padding: 0px 2px 0px 2px;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 5px;
	font-weight: 500;
	background-color: Transparent;
	font-size: 15px;
	
}

#quote {

	margin: 10px auto 0px auto;
}

#paragraph {
	
	margin: 0px auto 22px auto;
	
	/* Setting max width is mobile responsive, linebreaks are not to control wdirth only work if the screen is bigger than the width of text*/
	max-width: 330px;
	
}

/* -----------------------------Medium Screen Size-----------------------*/


/*This moves the content to the cener center and darkens background if screen is smaller than 1000px */
@media only screen and (max-width: 1070px) {
	
	
	.content {

	/* The float automatically over-rides the margins they're at 100 and 40 above */
	
	float: none;

	}
	.container {
	
		background-color: rgba(0, 0, 0, 0.3);
	
	}
	
}


.blur-out-expand-fwd {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: blur-out-expand-fwd;
	animation-name: blur-out-expand-fwd;
}

.focus-in-contract-bck {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: focus-in-contract-bck;
	animation-name: focus-in-contract-bck;
}

@-webkit-keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@-webkit-keyframes blur-out-expand-fwd{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}@keyframes blur-out-expand-fwd{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}