.jumbotron-billboard {
	margin: 0px;
	min-height: 225px;
}

thead {
	background-color: DarkGray;
	color: black;
}

html {
	height: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: Moccasin;
}

#everything {
	text-align: center;
}

#rotatingPicture {
	padding-left: 180px;
}

#member {
	text-align: right;
	font-weight: bold;
}

.blueBox {
	background-color: #acc6ef;
	border: solid;
	display: inline-block;
	border-color: #acc6ef;
	border-radius: 10px;
	border-width: 12px;
	padding: 20px;
}

#homePage {
	text-align: center;
}

table {

	background-color: LightGray;
	margin-top: 10px;
	font-weight: bold;
	opacity: 1;
}

.toolListHeader {
	text-align: center;
}

body {
	background-color: #fff;
	background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px,
		transparent 81px), linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
	background-color: #f5f5f5;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

#formSubmitButton {
	border-radius: 4px !important;
}

#logo {
	height: auto;
	width: auto;
	max-width: 70px;
	max-height: 70px;
	position: relative;
	margin-top: -10px;
}

.slidePic {
	height: 355px !important;
	width: 640px !important;
}

.carousel {
	width: 640px !important;
	height: 360px !important;
	text-align: center;
}

.jumbotron-billboard .img {
	margin-bottom: 0px;
	opacity: 0.2;
	color: #fff;
	background: #000 url("../img/logo.jpg") top center no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.jumbotron #library-title {
	margin-top: 0;
	font-size: 60px;
	font-weight: bold;
	font-family: URW Chancery L, cursive
}

.jumbotron p {
	margin-top: 0;
	font-size: 30px;
	font-family: Gill Sans, sans-serif
}

.jumbotron {
	position: relative;
	padding-top: 5px;
	padding-bottom: 15px;
}

.jumbotron .container {
	position: relative;
	z-index: 2;
}

#currentUser {
	text-align: right;
	font-weight: bold;
}

.current {
	color: blue;
}

#login-error {
	padding-top: 10px;
}

.error {
	color: red;
}

#viewCartDiv1 {
	display: inline-block;
}

#availableTool {
	background-color: #5cb85c;
	text-align: center;
}

#checkedoutTool {
	background-color: #acc6ef;
	text-align: center;
}

#currentUserHolder {
	padding-right: 20px;
}

#navbarLogo {
	width: 30px;
	height: 30px;
}
}