<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />

	<!-- This configuration tells Spring to scan (i.e. search) the com.techelevator
		 package and look for any classes that need to be managed (e.g. Controllers) -->
    <context:component-scan base-package="com.AzurTriCamp"/>

	<!-- ********************** -->
    <!--  WEB MVC CONFIGURATION -->
    <!-- ********************** -->

	<mvc:annotation-driven />

	<!-- This view resolver contains logic for translating a logical view name 
		(e.g. "homePage") into a JSP file path (e.g. "/WEB-INF/jsp/homePage.jsp") -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/jsp/"/>
	    <property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- ************************* -->
    <!--  DATA ACCESS CONFIGURATION -->
    <!-- ************************* -->
    
    <!-- Uncomment the following datasource definition and provide the correct database name, username, and password
    	 to connect to a database -->
	
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://172.93.133.120:5432/erikdmue_capstone" />
		<property name="username" value="erikdmue_postgres" />
		<property name="password" value="YA5rS)8dGNFU" />
	
	</bean>

    <tx:annotation-driven transaction-manager="txManager"/>
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    
    <!-- I have been having trouble getting the contact form to send emails, thus I'm using formspree -->
    <!-- 
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="erikdanielmueller@gmail.com" />
        <property name="password" value="" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
  -->
  	
</beans>